
<!DOCTYPE html>
<html>
<head>
<title>Plant vs. Zombies</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="game-container">
<canvas id="game-canvas"></canvas>
<div class="controls">
<button id="start-button">Start</button>
<button id="pause-button">Pause</button>
<div class="plant-selection">
<button class="plant-button" data-plant="peashooter">Peashooter</button>
<button class="plant-button" data-plant="sunflower">Sunflower</button>
<button class="plant-button" data-plant="wall-nut">Wall-nut</button>
</div>
<div class="game-info">
<div id="score">Score: 0</div>
<div id="sun">Sun: 100</div>
</div>
</div>
</div>

<script src="script.js"></script>
</body>
</html>


